[submodule "js/cantusjs"]
	path = js/cantusjs
	url = https://github.com/CANTUS-Project/cantus-js.git
[submodule "bootswatch"]
	path = bootswatch
	url = https://github.com/CANTUS-Project/bootswatch.git
